@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;

.contacto {
    width: 100%;
    padding: 1rem;
}

.contacto article,
.contacto section{
    width: 100%;
    margin-bottom: 2rem;
}

.contacto input,
.contacto textarea,
.contacto img {
    width: 100%;
    box-sizing: border-box;
}

.contacto iframe {
    width: 100%;
    max-width: 100%;
    border: 0;
}

.boton{
    background-color: $decoracion-ytitulos;
    color: $color-claro-general;
    transition: transform 0.2s ease-out;

    &:active {
        transform: scale(1.2);
    }
}

//responsive
@media (min-width: 768px) {
    .contacto {
        padding: 2rem;

    article, section{
        width: 100%;
        margin-bottom: 2rem;
    }

    input, textarea, img{
        width: 100%;
        box-sizing: border-box;
    }

    iframe{
        width: 100%;
        max-width: 100%;
        border: 0;
    }
    }
}

@media (min-width: 1024px) {

    .contacto {
        max-width: 1200px;
        margin: 0 auto;
    }
}
