@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;


footer{
    @extend %footer;
    ul{
        @extend %footer-lista;
        @include flex (null,center,null,5rem);
    p{
        color: $color-p;
        background-color: $color-claro-general;
        @include flex(column,null, center, null);
    }
}
}
//responsive
@media (min-width: 768px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 1024px) {
    footer {
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    footer ul {
        justify-content: center;
    }

    footer p {
        justify-content: center;
        color: $color-p;
        background-color: $color-claro-general;
        opacity: 50%;
        @include flex(column,null, center, null);
    }
}

