@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;


footer{
    @extend %footer;
    ul{
        @extend %footer-lista;
    }
    p{
        color: $color-p;
        background-color:$color-claro-general;
        @include flex(column,null, center, null);
    }
}

//responsive
@media (min-width: 768px) {
    footer {
        grid-template-columns: repeat(2, 1fr);
    }

}
@media (min-width: 1024px) {
    footer {
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
    }

}