@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;


.escritorio {
    display: none;
}

.galeria {
    @include grid (repeat(4, 1fr),
        280px 280px, ("horizontal-1 horizontal-1 horizontal-1 cuadrada-1"
            "cuadrada-2 horizontal-2 horizontal-2 horizontal-2"
        ),
        1rem);
}


.galeria figure {
    margin: 0;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.foto-horizontal-1 {
    grid-area: horizontal-1;

    img {
        object-position: center 60%;
        border-radius: 23px;
    }
}

.foto-cuadrada-1 {
    grid-area: cuadrada-1;

    img {
        object-position: center 80%;
        border-radius: 23px;
    }
}

.foto-cuadrada-2 {
    grid-area: cuadrada-2;

    img {
        object-position: center 40%;
        border-radius: 23px;
    }
}

.foto-horizontal-2 {
    grid-area: horizontal-2;

    img {
        object-position: center 75%;
        border-radius: 23px;
    }
}



@media (min-width: 1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 280px 280px;
        grid-template-areas:
            "horizontal-1 horizontal-1 horizontal-1 cuadrada-1"
            "cuadrada-2 horizontal-2 horizontal-2 horizontal-2";
    }

    .movil {
        display: none;
    }

    .escritorio {
        display: block;
    }
}