@use "../utilities/variables" as *;
@use "../utilities/extend" as *;
@use "../utilities/mixin" as *;


.main-index{
    @extend %index-main;
    .hero{   
        grid-area: hero;
    }
    .bienvenida{
        grid-area: bienvenida;
    }

    .informacion{
        grid-area: informacion;
    }

    .productos{
        grid-area: productos;
    }
}

@media (min-width: 768px) {
    .main-index {
        gap: 3rem;
    }
}

@media (min-width: 1024px) {
    .main-index {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "hero hero"
            "bienvenida bienvenida"
            "informacion productos";
    }
}



.hero{
    @extend %hero;
    
    h2{
        margin: 0;
        color: $color-h2;
        font-size: 24px;
    }
    

}
.hero a{
    @extend %hero-a;
    &:hover{
        background-color: $fondo-hover; 
    }
    &:active{
        text-decoration: line-through;
        color: $active;
        
    }
}

.boton-promo {
    background-color: $color-general;
    color: $color-claro-general;
    border: none;
    padding: 1rem;
    border-radius: 4px;
    font-size: $lettersize;
    --animate-duration: 3.5s;
    &:hover{
        background-color: $fondo-hover;
        color: $hover;
    }
    &:active{
        transform: scale(0.8);
        transition: 0.5s;

    }
}

.boton-cerrar {
    background-color: $decoracion-ytitulos;
    color: white;
}

.index-h2{
    text-decoration: underline;
    font-size: 2rem;
    font-weight: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}







